.reddit-navigator {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70px;
    z-index: 10000;
}

.reddit-navigator__button {
    width: 32px;
    height: 32px;
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #0d3938;
    color: whitesmoke;

}

.reddit-navigator__button.prev {
    background-color: #ff852b;
    border-color: #f46d29;
}

.reddit-navigator__button.next {
    background-color: #00a6fa;
    border-color: #0084d2;
}